a:link {text-decoration:none}
a:visited {text-decoration:none}
a:hover {text-decoration:underline}
a:active {text-decoration:none}
.card a{
    text-decoration:none;
    color: black;
}

.navbar-nav a, a.navbar-brand {
    color: white !important;
    text-decoration:none
}

.navbar-nav a:hover, a.navbar-brand:hover{
    color: #8c2c3e !important;
    text-decoration:none
}

#banner{
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*top: 40px;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*z-index: -1;*/
    width: 100%;
    padding: 0;
}

.navbar-toggler{
        border-color: #ffd6d6 !important;

}
.custom-toggler.navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.custom-toggler.navbar-toggler {
    border-color: aqua;
}
#sakura-box{
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#sakura-box .sakura{
        overflow: hidden;

}

.btn-pink {
    color: #fff!important;
    background-color: #f68699!important;
    border-color: #f68699!important;
}
.table{
    overflow: hidden;
}
.table tbody tr{
    position: relative;
}

.godRowImage{
    position: absolute;
    top:0;

}
.godRowImage img{
    position: absolute;
    top:0;
    /*right: 0px;*/
    opacity: 0.2;
    pointer-events: none;
}
.godRowImage img.god2, .godRowImage img.god4{
    left:200px;
}
@media (max-width: 1000px) {
.godRowImage img.god3, .godRowImage img.god4{
    display: none;
}
}

footer{
    /*height: 500px;*/
    color: #fff;
    background-color: #ffc0cd;
    padding: 10px;
    padding-top: 30px;

    text-align: center;
}

.table-striped-pink>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: #fff4f6;
}
th a{
   text-decoration: none;
    color: black;
}

.border-pink {
    border-bottom: 2px solid #ffc3cf;
}
#home-banner{
    position: relative;
}
#banner-yurina{
    display: block;
    position: absolute;
    left:0;
    right: 0;
    bottom: 0px;
    margin: 0 auto;
    width: 63%;
    z-index: 2;

}
.card-text{
    font-size: 0.8em;
}