{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-6">
                <form>
                    {% csrf_token %}
                    <div class="mb-3 d-none">
                        <label class="form-label" for="inputServer">Server IP</label>
                        <input type="text" class="form-control" id="inputServer" disabled
                               value="/api/dual"
                        >
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="inputJSON">JSON data</label>
                        <textarea rows="20" type="text" class="form-control" id="inputJSON">

    {"a":1}
</textarea>

                    </div>
                    <button type="submit" class="btn btn-pink" id="btn-send">Send</button>
                </form>
            </div>
        </div>
    </div>

    <script>

        const btn_send = document.querySelector("#btn-send");

        const url = document.querySelector("#inputServer").value
        btn_send.addEventListener("click", (e) => {
            e.preventDefault();
            btn_send.disabled = true;

            const jsonString = document.querySelector("#inputJSON").value
            const replaceJsonString = jsonString.replace(/\n/g, '');
            const jsonObj = JSON.parse(replaceJsonString);
            console.log(jsonObj)
            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                data: jsonObj,
                success: function (result) {
                    console.log(result)
                    alert('업로드 성공!')
                    btn_send.disabled = false;
                },
                error: function (request, status, error) {
                    console.log(error);
                    alert('업로드 실패')
                    btn_send.disabled = false;

                }


            })
        });
    </script>

{% endblock %}