{% load static %}
{% load cdn_static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/baseStyle.css' %}">

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FuruGG</title>
    <meta
        name="description"
        content="후루요니의 여신, 카드 순위, 덱리스트, 대전기록을 볼 수 있습니다."
    >
    <meta property="og:image" content="{% cdn_static 'img/home/top_visual.png' %}">
    <meta name="naver-site-verification" content="d2dd582f6e529ec873f2ef306c4b6a541e65261c" />
    <meta name="google-site-verification" content="oilZ3ltiTjWP5ytFdIG6cu1QW6oDS6cp8p2PbF3oflY" />
    <link rel="icon" href="{% cdn_static 'img/base/sakura.ico' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap JS Bundle with Popper -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script defer src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md"
     style="background-color:  #f68699;">
    <div class="container-fluid">
        <a href="{% url 'home' %}" class="navbar-brand" style="">
            <img width="30" src="{% cdn_static 'img/base/sakura.png' %}"/>
            FuruGG
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon custom-toggler"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/god" class="nav-item nav-link">여신 티어</a>
                <a href="/card" class="nav-item nav-link">카드 분석</a>
                <a href="/partner" class="nav-item nav-link">최고의 파트너</a>
                <a href="/trio" class="nav-item nav-link">삼습일사</a>
                <a href="/duel" class="nav-item nav-link">대전기록</a>
                <a href="/archive" class="nav-item nav-link">아카이브</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a href="https://github.com/ClearSky-S/FuruYoniStatistics#%ED%8C%A8%EC%B9%98-%EB%85%B8%ED%8A%B8" class="nav-item nav-link">패치기록</a>
                <a href="https://discord.gg/SvAzXTHgNW" class="nav-item nav-link">디스코드</a>
            </div>
        </div>
    </div>
</nav>


{% block content %}
{% endblock %}
<footer class="pb-5">
    <div href="{% url 'home' %}" class="navbar-brand" style="">
        <img width="30" src="{% cdn_static 'img/base/sakura.png' %}"/>
        FuruGG
    </div>
    <div>


    「벚꽃 내리는 시대에 결투를」 시즌 8<br/>
    ふるよにコモンズ / BakaFire,TOKIAME<br/>
    본 사이트는 BakaFire Party와 코리아보드게임즈와 무관합니다<br/>
    메인 화면의 상단 배너는 '후루요니 커먼즈'에 포함되지 않지만, BakaFire Party에서 톱 페이지만으로의 이용에 한정하는 형태로의 허가를 받아 사용하고 있습니다.<br/>
    <a href="https://main-bakafire.ssl-lolipop.jp/furuyoni/na/rule.html" style="color:white;">https://main-bakafire.ssl-lolipop.jp/furuyoni/na/rule.html</a><br/>
    <br/><b>Contact</b> junhyuckjang3@gmail.com
    </div>
</footer>
</body>
</html>