{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/baseStyle.css' %}">

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FuruGG</title>
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap JS Bundle with Popper -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script defer src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md"
     style="background-color:  #ff96a8;">
        <div class="container-fluid">
            <a href="{% url 'home' %}" class="navbar-brand" style="">FuruGG</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon custom-toggler"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/#" class="nav-item nav-link">여신 티어</a>
                    <a href="/#" class="nav-item nav-link">카드 티어</a>
                    <a href="/#" class="nav-item nav-link">최고의 파트너</a>
                    <a href="/#" class="nav-item nav-link">삼습일사</a>
                    <a href="/#" class="nav-item nav-link">대전 기록</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a href="#" class="nav-item nav-link">디스코드</a>
                    <a href="#" class="nav-item nav-link" >커뮤니티</a>
                    <a href="#" class="nav-item nav-link">문의</a>

                </div>
            </div>
        </div>
    </nav>


    {% block content %}
    {% endblock %}
    <footer>
        footer
    </footer>
</body>
</html>