{% extends 'base.html' %}

{% load static %}
{% load cdn_static %}

{% block content %}

    <div class="container">
        <h2 class="display-6 border-pink pb-3 mt-5 ">카드 분석 - {{ god.god_name }}</h2>

        <div class="row">
            <div class="col-md-9 mb-4">
                <table class="table table-striped-pink">
                    <thead>
                    <tr>
                        <th>코드</th>
                        <th>카드</th>
                        <th>픽률</th>
                        <th>승률</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for card in card_list %}
                        <tr>
                            <td>{{ card.card_code}}</td>
                            <td>{{ card.card_name }}</td>
                            <td>{{ card.pick_ratio }}%</td>
                            <td>{{ card.win_ratio }}%</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="{% cdn_static 'img/god/tarots/tarot_' %}{{ god.god_code }}.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ god.god_name }}</h5>
                        <p class="card-text"><b>{{ god.god_keyword }} </b>- {{ god.god_text }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}