{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <h2 class="display-6 border-pink pb-3 mt-5 ">덱리스트</h2>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <h5 class="display-8 border-bottom border-success pb-3 mt-2">승자 {% if not dual.winner_isPublic %}(비공개){% endif %}</h5>
                <div class="row align-items-center g-3 mb-3">
                    <div class="col-auto">
                        <label for="winner-deck-code" class="form-label mb-0">덱코드</label>
                    </div>
                    <div class="col-auto">
                        <input readonly type="text" class="form-control" id="winner-deck-code"
                               {% if dual.winner_isPublic %}
                               value="{{ winner_deck_code }}"
                               {%  endif %}
                        >
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-pink" id="winner-copy">복사</button>
                    </div>
                    <script>
                        function copy_winner() {
                            const textarea = document.getElementById("winner-deck-code");
                            textarea.select();
                            textarea.setSelectionRange(0, 9999);  // 추가

                            document.execCommand('copy');
                            return
                        }

                        document.getElementById("winner-copy").addEventListener("click", copy_winner)
                    </script>
                </div>
                <div class="row">
                    <div class="col-4 mb-4 border">
                        <table class="table table-striped-pink mt-2">
                            <thead>
                            <tr>
                                <th>카드</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% if dual.winner_isPublic %}
                            {% for card in winner_deck_list %}
                                <tr>
                                    <td>{{ card.name }}<img
                                            src="{% static 'img/god/banner/banner_' %}{{ card.god_code }}.png"/></td>
                                </tr>
                            {% endfor %}
                            {% endif %}

                            </tbody>
                        </table>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="card">
                            <img src="{% static 'img/god/tarots/tarot_' %}{{ winner_god1_code }}.png"
                                 class="card-img-top"
                                 alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ winner_god1 }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="card">
                            <img src="{% static 'img/god/tarots/tarot_' %}{{ winner_god2_code }}.png"
                                 class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ winner_god2 }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <h5 class="display-8 border-bottom border-danger pb-3 mt-2">패자 {% if not dual.loser_isPublic %}(비공개){% endif %}</h5>
                <div class="row align-items-center g-3 mb-3">
                    <div class="col-auto">
                        <label for="loser-deck-code" class="form-label mb-0">덱코드</label>
                    </div>
                    <div class="col-auto">
                        <input readonly type="text" class="form-control" id="loser-deck-code"
                               {% if dual.loser_isPublic %}
                               value="{{ loser_deck_code }}"
                               {% endif %}
                        >
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-pink" id="loser-copy">복사</button>
                    </div>
                    <script>
                        function copy_loser() {
                            const textarea = document.getElementById("loser-deck-code");
                            textarea.select();
                            textarea.setSelectionRange(0, 9999);  // 추가

                            document.execCommand('copy');
                            return

                        }

                        document.getElementById("loser-copy").addEventListener("click", copy_loser)
                    </script>
                </div>
                <div class="row">
                    <div class="col-4 mb-4 border">
                        <table class="table table-striped-pink mt-2">
                            <thead>
                            <tr>
                                <th>카드</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% if dual.loser_isPublic %}
                            {% for card in loser_deck_list %}
                                <tr>
                                    <td>{{ card.name }}<img
                                            src="{% static 'img/god/banner/banner_' %}{{ card.god_code }}.png"/></td>
                                </tr>
                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="card">
                            <img src="{% static 'img/god/tarots/tarot_' %}{{ loser_god1_code }}.png"
                                 class="card-img-top"
                                 alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ loser_god1 }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="card">
                            <img src="{% static 'img/god/tarots/tarot_' %}{{ loser_god2_code }}.png"
                                 class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ loser_god2 }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}