{% extends 'base.html' %}

{% load static %}
{% load cdn_static %}

{% block content %}

    <div class="container">
        <div class="row">
            <img id="banner" src="{% cdn_static 'img/home/top_visual.png' %}"/>
        </div>
        <h2 class="display-6 border-pink pb-3 mt-5 ">대전 기록</h2>


        <div class="row align-items-center g-3 py-3">
            <div class="col-auto">
                <label class="col-form-label" for="inputGod">여신</label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="inputGod" placeholder="여신 이름"
                       value="{{ god|default_if_none:'' }}">
            </div>
            <div class="col-auto">
                <label class="col-form-label" for="inputPlayer">플레이어</label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="inputPlayer" placeholder="플레이어 이름"
                       value="{{ player|default_if_none:'' }}">
            </div>
            <div class="col-auto">
                <button class="btn btn-pink" id="btn_search">검색</button>
            </div>
        </div>
        <form id="searchForm" method="get" action="{% url 'duel' %}">
            <input type="hidden" id="god" name="god" value="{{ god|default_if_none:'' }}">
            <input type="hidden" id="player" name="player" value="{{ player|default_if_none:'' }}">
            <input type="hidden" id="page" name="page" value="{{ page }}">
        </form>

        <div class="row" style="overflow: auto;">
            <div class="col-md-12 mb-4">
                <table class="table table-striped-pink">
                    <thead>
                    <tr>
                        <th></th>
                        <th>시간</th>
                        <th>승자</th>
                        <th>여신1</th>
                        <th>여신2</th>
                        <th>밴</th>
                        <th class="px-0">덱</th>
                        <th>패자</th>
                        <th>여신1</th>
                        <th>여신2</th>
                        <th>밴</th>
                        <th class="px-0">덱</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dual in dual_list %}
                        <tr>

                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>{{ dual.time|date:"m/d G:i" }} </td>
                            <td style="position:relative">
                                {{ dual.winner_name }}
                                <div class="godRowImage">
                                    <img class="god1" src="
                                            {% cdn_static 'img/god/banner/banner_' %}{{ dual.winner_god_1_code }}.png"/>
                                    <img class="god2" src="
                                            {% cdn_static 'img/god/banner/banner_' %}{{ dual.winner_god_2_code }}.png"/>
                                </div>
                            </td>
                            <td>{{ dual.winner_god_1 }} </td>
                            <td>{{ dual.winner_god_2 }} </td>
                            <td>{{ dual.winner_god_ban }}</td>
                            <td class="pt-1 pb-0 px-0">
                                {% if dual.winner_isPublic %}
                                    <a href="/duel/{{ dual.id }}" class="btn btn-pink py-0 px-2">보기</a>
                                {% endif %}
                            </td>
                            <td style="position:relative">
                                {{ dual.loser_name }}
                                <div class="godRowImage">
                                    <img class="god3" src="
                                            {% cdn_static 'img/god/banner/banner_' %}{{ dual.loser_god_1_code }}.png"/>
                                    <img class="god4" src="
                                            {% cdn_static 'img/god/banner/banner_' %}{{ dual.loser_god_2_code }}.png"/>
                                </div>
                            </td>
                            <td>{{ dual.loser_god_1 }} </td>
                            <td>{{ dual.loser_god_2 }} </td>
                            <td>{{ dual.loser_god_ban }}</td>
                            <td class="pt-1 pb-0 px-0">
                                {% if dual.loser_isPublic %}
                                    <a href="/duel/{{ dual.id }}" class="btn btn-pink py-0 px-2">보기</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    {#                    <tr>#}
                    {#                        <td>1</td>#}
                    {#                        <td>01월 24일 11:03 </td>#}
                    {#                        <td>사이네단</td>#}
                    {#                        <td>사이네 <img src="{% cdn_static 'img/table/table_saine.png' %}"/></td>#}
                    {#                        <td>히미카 <img class="god2" src="{% cdn_static 'img/table/table_saine.png' %}"/></td>#}
                    {#                        <td>치카게</td>#}
                    {#                        <td class="pt-1 pb-0"><a href="/dual/1/1" class="btn btn-pink py-0 px-2">보기</a></td>#}
                    {#                        <td>유리나단</td>#}
                    {#                        <td>유리나 <img class="god3" src="{% cdn_static 'img/table/table_saine.png' %}"/></td>#}
                    {#                        <td>히미카 <img class="god4" src="{% cdn_static 'img/table/table_saine.png' %}"/></td>#}
                    {#                        <td>치카게</td>#}
                    {#                        <td class="pt-1 pb-0"><a href="/dual/1/1" class="btn btn-pink py-0 px-2">보기</a></td>#}
                    {#                    </tr>#}

                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <!-- 페이징처리 시작 -->
            <ul class="pagination justify-content-center">
                <!-- 이전페이지 -->
                {% if paginator.has_previous %}
                    <li class="page-item">
                        <a class="page-link" data-page="{{ paginator.previous_page_number }}"
           href="javascript:void(0)">이전</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                    </li>
                {% endif %}
                <!-- 페이지리스트 -->
                {% for page_number in paginator.paginator.page_range %}
                    {% if page_number >= paginator.number|add:-5 and page_number <= paginator.number|add:5 %}
                        {% if page_number == paginator.number %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" data-page="{{ page_number }}"
           href="javascript:void(0)">{{ page_number }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" data-page="{{ page_number }}"
           href="javascript:void(0)">{{ page_number }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <!-- 다음페이지 -->
                {% if paginator.has_next %}
                    <li class="page-item">
                        <a class="page-link" data-page="{{ paginator.next_page_number }}"
           href="javascript:void(0)">다음</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                    </li>
                {% endif %}
            </ul>
            <!-- 페이징처리 끝 -->
        </div>
        <script type='text/javascript'>

            const page_elements = document.getElementsByClassName("page-link");

            Array.from(page_elements).forEach(function (element) {
                element.addEventListener('click', function () {
                    document.getElementById('page').value = this.dataset.page;
                    document.getElementById('searchForm').submit();
                });
            });
            const btn_search = document.getElementById("btn_search");
            btn_search.addEventListener('click', function () {
                document.getElementById('god').value = document.getElementById('inputGod').value;
                document.getElementById('player').value = document.getElementById('inputPlayer').value;
                document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
                document.getElementById('searchForm').submit();
            });
        </script>
    </div>

{% endblock %}