{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row">
            <img id="banner" src="{% static 'img/home/top_visual.png' %}"/>
        </div>
        <h2 class="display-6 border-pink pb-3 mt-5 ">대전 기록</h2>

        <div class="row">
            <div class="col-md-12 mb-4">
                <table class="table table-striped-pink">
                    <thead>
                    <tr>
                        <th></th>
                        <th>시간</th>
                        <th>승자</th>
                        <th>여신1</th>
                        <th>여신2</th>
                        <th>밴</th>
                        <th>패자</th>
                        <th>여신1</th>
                        <th>여신2</th>
                        <th>밴</th>
                        <th>덱</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dual in dual_list %}
                        <tr>
                        <td>1</td>
                        <td>{{ dual.time|date:"m/d H:m:s"}} </td>
                        <td>{{ dual.winner_name }}</td>
                        <td>{{ dual.winner_god_1 }} <img src="{% static 'img/god/banner/banner_' %}{{ dual.winner_god_1_code }}.png"/></td>
                        <td>{{ dual.winner_god_2 }} <img class="god2" src="{% static 'img/god/banner/banner_' %}{{ dual.winner_god_2_code }}.png"/></td>
                        <td>{{ dual.winner_god_ban }}</td>
                        <td>{{ dual.loser_name }}</td>
                        <td>{{ dual.loser_god_1 }} <img class="god3" src="{% static 'img/god/banner/banner_' %}{{ dual.loser_god_1_code }}.png"/></td>
                        <td>{{ dual.loser_god_2 }} <img class="god4" src="{% static 'img/god/banner/banner_' %}{{ dual.loser_god_2_code }}.png"/></td>
                        <td>{{ dual.loser_god_ban }}</td>
                        <td class="pt-1 pb-0"><a href="/duel/{{ dual.id }}" class="btn btn-pink py-0 px-2">보기</a></td>
                    </tr>
                    {% endfor %}

{#                    <tr>#}
{#                        <td>1</td>#}
{#                        <td>01월 24일 11:03 </td>#}
{#                        <td>사이네단</td>#}
{#                        <td>사이네 <img src="{% static 'img/table/table_saine.png' %}"/></td>#}
{#                        <td>히미카 <img class="god2" src="{% static 'img/table/table_saine.png' %}"/></td>#}
{#                        <td>치카게</td>#}
{#                        <td class="pt-1 pb-0"><a href="/dual/1/1" class="btn btn-pink py-0 px-2">보기</a></td>#}
{#                        <td>유리나단</td>#}
{#                        <td>유리나 <img class="god3" src="{% static 'img/table/table_saine.png' %}"/></td>#}
{#                        <td>히미카 <img class="god4" src="{% static 'img/table/table_saine.png' %}"/></td>#}
{#                        <td>치카게</td>#}
{#                        <td class="pt-1 pb-0"><a href="/dual/1/1" class="btn btn-pink py-0 px-2">보기</a></td>#}
{#                    </tr>#}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}