{% extends 'base.html' %}

{% load static %}
{% load cdn_static %}

{% block content %}

    <div class="container">
        <div class="row">
            <img id="banner" src="{% cdn_static 'img/home/top_visual.png' %}"/>
        </div>
        <h2 class="display-6 border-pink pb-3 mt-5 ">여신 티어</h2>

        <div class="row">
            <div class="col-md-12 mb-4">

                <table class="table table-striped-pink">
                    <thead>
                    <tr>
                        <th></th>
                        <th>여신</th>
                        <th><a href="/god/win">승률 &#9660;</a></th>
                        <th><a href="/god/pick">픽률 &#9660;</a></th>
                        <th><a href="/god/ban">밴 &#9660;</a></th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for god in god_list %}
                        <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            {{ god.god_name }}
                            <div class="godRowImage">
                                <img src="{% cdn_static 'img/god/banner/banner_' %}{{ god.god_code }}.png"/>
                            </div>

                        </td>
                        <td>{{ god.win_ratio }}%</td>
                        <td>{{ god.pick_ratio }}%</td>
                        <td>{{ god.ban_ratio }}%</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}