{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row">
            <img id="banner" src="{% static 'img/home/top_visual.png' %}"/>
        </div>
        <h2 class="display-6 border-pink pb-3 mt-5 ">여신 티어</h2>

        <div class="row">
            <div class="col-md-12 mb-4">

                <table class="table table-striped-pink">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th><a href="#">여신</a></th>
                        <th><a href="#">승률 &#9660;</a></th>
                        <th><a href="#">픽률 &#9660;</a></th>
                        <th><a href="#">밴 &#9660;</a></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>사이네 <img src="{% static 'img/table/table_saine.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>「대장장이」 하가네 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>유리나 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr><tr>
                        <td>1</td>
                        <td>유리나 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr><tr>
                        <td>1</td>
                        <td>유리나 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr><tr>
                        <td>1</td>
                        <td>유리나 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr><tr>
                        <td>1</td>
                        <td>유리나 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr><tr>
                        <td>1</td>
                        <td>유리나 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr><tr>
                        <td>1</td>
                        <td>유리나 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr><tr>
                        <td>1</td>
                        <td>유리나 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr><tr>
                        <td>1</td>
                        <td>유리나 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>유리나 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr><tr>
                        <td>1</td>
                        <td>유리나 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr><tr>
                        <td>1</td>
                        <td>유리나 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr><tr>
                        <td>1</td>
                        <td>유리나 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr><tr>
                        <td>1</td>
                        <td>유리나 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr><tr>
                        <td>1</td>
                        <td>유리나 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr><tr>
                        <td>1</td>
                        <td>유리나 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr><tr>
                        <td>1</td>
                        <td>유리나 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr><tr>
                        <td>1</td>
                        <td>유리나 <img src="{% static 'img/table/table_yurina.png' %}"/></td>
                        <td>54.3%</td>
                        <td>18.4%</td>
                        <td>26.3%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}