{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row">
            <div id="home-banner">
                <img id="banner" src="{% static 'img/home/top_visual_background.png' %}"/>
                <img id="banner-yurina" src="{% static 'img/home/top_visual3.png' %}"/>

            </div>

        </div>
        <div class="row">
            현재 서버 점검 중으로 사이트의 일부 기능이 비정상적으로 동작할 수 있습니다. 빠른 시일 내로 완료하도록 하겠습니다.
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">

                <h4 class=" border-pink pb-3 mt-4 ">여신 티어</h4>
                <table class="table table-striped-pink">
                    <thead>
                    <tr>
                        <th></th>
                        <th>여신</th>
                        <th>승률</th>
                        <th>픽률</th>
                        <th>밴</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for god in god_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ god.god_name }} <img
                                    src="{% static 'img/god/banner/banner_' %}{{ god.god_code }}.png"/></td>
                            <td>{{ god.win_ratio }}%</td>
                            <td>{{ god.pick_ratio }}%</td>
                            <td>{{ god.ban_ratio }}%</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="/god" type="button" class="btn btn-pink">전체 여신 티어</a>
            </div>

            <div class="col-md-6 mb-4 d-none">
                <h4 class=" border-pink pb-3 mt-4 ">카드 분석</h4>
                <table class="table table-striped-pink">
                    <thead>
                    <tr>
                        <th></th>
                        <th>카드</th>
                        <th>여신</th>
                        <th>승률</th>
                        <th>픽률</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for card in card_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ card.card_name }} <img
                                    src="{% static 'img/god/banner/banner_' %}{{ card.god.god_code }}.png"/></td>
                            <td>{{ card.god.god_name }}</td>
                            <td>{{ card.win_ratio }}%</td>
                            <td>{{ card.pick_ratio }}%</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="/card" type="button" class="btn btn-pink">여신별 카드 분석</a>
            </div>

            <div class="col-md-6 mb-4 row pt-3">

                <div class="col-6">
                    <a href="/card">
                        <div class="card m-2">
                            <img class="card-image text-center py-2"
                                 src="{% static "img/god/sd/sd1.png" %}"/>
                            <div class="card-body text-center">
                                {#                                <p class="card-title">카드 분석</p>#}
                                <div class="btn btn-pink">카드 분석</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="/partner">
                        <div class="card m-2">
                            <img class="card-image text-center py-2"
                                 src="{% static "img/god/sd/sd2.png" %}"/>
                            <div class="card-body text-center">
                                {#                                <p class="card-title">카드 분석</p>#}
                                <div class="btn btn-pink">최고의 파트너</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="/trio">
                        <div class="card m-2">
                            <img class="card-image text-center py-2"
                                 src="{% static "img/god/sd/sd3.png" %}"/>
                            <div class="card-body text-center">
                                {#                                <p class="card-title">카드 분석</p>#}
                                <div class="btn btn-pink">삼습일사</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="/duel">
                        <div class="card m-2">
                            <img class="card-image text-center py-2"
                                 src="{% static "img/god/sd/sd4.png" %}"/>
                            <div class="card-body text-center">
                                {#                                <p class="card-title">카드 분석</p>#}
                                <div class="btn btn-pink">대전기록</div>
                            </div>
                        </div>
                    </a>
                </div>


            </div>

        </div>
    </div>

    <div id="sakura-box">
        <link rel="stylesheet" href="{% static 'css/sakura.css' %}"/>
        <script src="{% static "js/sakura.js" %}"></script>
        <script>
            const sakura = new Sakura('#sakura-box', {});
        </script>
    </div>



{% endblock %}