{% extends 'base.html' %}

{% load static %}
{% load cdn_static %}

{% block content %}
    <div class="container">
        <h2 class="display-6 border-pink pb-3 mt-5 ">최고의 파트너 - 여신 선택</h2>
        <div class="row my-3 justify-content-center">

{#            <div class="card m-1" style="width: 180px;">#}
{#                <img src="{% cdn_static 'img/god/full_saine.png' %}" class="card-img-top" alt="...">#}
{#                <div class="card-body text-center">#}
{#                    <h5 class="card-title">사이네</h5>#}
{#                    <p class="card-text"><b>팔상 </b>- 당신의 오라가 1 이하라면, 몇몇 카드가 강화된다.</p>#}
{#                    <a href="/partner/saine" class="btn btn-pink">선택</a>#}
{#                </div>#}
{#            </div>#}

            {% for god in god_list %}
                <div class="card m-1"  style="width: 180px; ">
                <img src="{% cdn_static 'img/god/tarots/tarot_' %}{{ god.god_code }}.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-title">{{ god.god_name }}</p>
                    <a href="/partner/{{ god.god_code }}" class="btn btn-pink">선택</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}