{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <h2 class="display-6 border-pink pb-3 mt-5 ">최고의 파트너 - {{ god.god_name }}</h2>

        <div class="row">
            <div class="col-md-9 mb-4">

                <table class="table table-striped-pink">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>여신</th>
                        <th><a href="/partner/{{god.god_code}}/win">승률 &#9660;</a></th>
                        <th><a href="/partner/{{god.god_code}}/pick">픽률 &#9660;</a></th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for god in god_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ god.god_name }}</td>
                            <td>{{ god.pick_ratio }}%</td>
                            <td>{{ god.win_ratio }}%</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="{% static 'img/god/tarots/tarot_' %}{{ god.god_code }}.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ god.god_name }}</h5>
                        <p class="card-text"><b>{{ god.god_keyword }} </b>- {{ god.god_text }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}